<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="../css/home.css">

<meta name="google-signin-client_id"  content="552920598367-caoqq8n7vb28ttiu5b1opded63av2vv2.apps.googleusercontent.com">
</head>
<body>
<div class="container" style="display: block;position: center;margin-top: 20%;margin-right: 40%!important;">
<h1 class="title" style="position: center;margin-left: 50px;">Chat Application</h1>
<a href="/auth/facebook"><img src="../img/images (1).jpg"></a>
	
</div>
	</body>
</html>



